body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}

.body{
	width: 1191px;
	margin: 0 auto;
}

.nav{
	line-height: 33px;
	height: 33px;
	background-color: #E3E4E5;
	border-bottom: 1px solid rgb(221,221,221);
}
.nav .location{
	color: #999999;
	font-size: 12px;
	line-height: 33px;
	margin-left: 202px;
}
.nav ul li{
	font-family: Microsoft YaHei;
	font-size: 12px;
	list-style: none;
	float: left;
	margin-left: 13px;
}
.nav ul li span{
	color: red;
}
.nav ul{
	margin: 0;
	float: right;
}
.nav b{
	display: inline-block;
	height: 10px;
	border-left: 1px solid #CCC;
}
.nav a{
	text-decoration: none;
}
.nav font:hover{
	color:#C81623;
}
.nav span:hover{
	color:#C81623;
}
.nav font{
	color: #999999;
}


fieldset, img {
border: 0;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
address, caption, cite, code, dfn,
em, strong, th, var, optgroup {
font-style: normal;
font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}
abbr, acronym {
border: 0;
font-variant: normal;
}
input, button, textarea,
select, optgroup, option {
font-family: inherit;
font-size: inherit;
font-style: inherit;
font-weight: inherit;
}
code, kbd, samp, tt {
font-size: 100%;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
*font-size: 100%;
}
body {
line-height: 1.5;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: collapse;
border-spacing: 0;
}
caption, th {
text-align: left;
}
sup, sub {
font-size: 100%;
vertical-align: baseline;
}
/* remember to highlight anchors and inserts somehow! */
:link, :visited , ins {
text-decoration: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

.w{
	width: 1149px;
	margin:0 auto;
}

.top{
	margin-top: 20px;
	height: 100px;
}
.top .top{
	overflow: hidden;
}
.top .logo{
	width: 267px;
	height: 68px;
	float: left;
	line-height: 100px;
}
.top .search{
	margin-left: 66px;
	float: left;
}
.top .search .input input{
	color: rgb(102,102,102);
	font-size: 12px;
	text-indent: 7px;
	float: left;
	border: 2px solid rgb(182,29,29);
	width: 456px;
	height: 34px
}
.top .search .input .input_search{
	line-height: 34px;
	text-align: center;
	font-weight: bold;
	float: left;
	color: white;
	background-color: rgb(182,29,29);
	font-size: 16px;
	border: 2px solid rgb(182,29,29);
	width: 77px;
	height: 34px;
}
.top .search .input .input_search:hover{
	cursor: pointer;
}

.top .search .more span{
	font-size: 12px;
	color: rgb(102,102,102);
}
.top .car{
	margin-left: 100px;
	float: left;
	text-align: center;
	line-height: 36px;
	font-size: 12px;
	color: rgb(102,102,102);
	border: 1px solid rgb(223,223,223);
	width: 141px;
	height: 36px;
	background-color: rgb(249,249,249);
}

hr{
	border: 0px;
	height: 4px;
	background-color: red;
	border:none;
}

.center{
	margin-top:33px;
	height:492px;
}
.center .left{
	float: left;
	width: 426px;
	height: 492px;
}
.center .right{
	margin-left:40px;
	float: left;
	width:626px;
	height:534px;
}
.center .right .product_name{
	font-size:22px;
	color:#666666;
}
.center .right .price{
	margin-top:22px;
	height:100px;
	background-color:#f3f3f3;
}
.center .right .price .price_mark{
	line-height: 100px;
	font-size: 16px;
	color: #BABABA;
}
.center .right .price .sale_price{
	line-height: 100px;
	font-size: 22px;
	color: #f12804;
}

.center .right #form{
	margin-top:22px;
}
.center .right #form .class_mark{
	font-size: 16px;
	color: #BABABA;
}
.center button{
	border:none;
}
.center button:hover{
	cursor:pointer;
}
.center .class_class{
	font-size:12px;
	width:85px;
	height:33px;
	border:1px solid white;
	background-color: #f3f3f3;
	color:white;
}
.center .class_class:hover{
	border:1px solid red;
}
.center .right .number #num{
	width:66px;
	height:33px;
}

.center .big_car{
	width:133px;
	height:44px;
	border:1px solid red;
	backgroud-color:white;
	background-color:red;
	color:white;
}
.center .big_buy{
	width:133px;
	height:44px;
	border:1px solid red;
	backgroud-color:white;
	background-color:red;
	color:white;
}
.myselfbottom .product_info_ch{
	height:33px;
	background-color:#f7f7f7;
	overflow: hidden;
}
.myselfbottom .product_info_ch{
	margin-top:5px;
}